/*#region*/
/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
/* I added this */
*, *::before, *::after {
box-sizing: border-box;
}
/*#endregion*/

:root {
  --accent-blue: rgb(25, 102, 255);
  --main-background-color: rgb(35, 35, 35);
  --inbetween-background-color: rgb(27, 27, 27);
  --darker-background-color: rgb(20, 20, 20);
}

body {
  background-color: var(--main-background-color);
  color: white;
  height: 100vh;
}

button {
  background-color: var(--darker-background-color);
  border: 2px solid var(--accent-blue);
  border-radius: 10px;
  color: white;
  transition: 0.2s color;
  transition: 0.2s background-color;
}

button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

/* 
===================================================
HEADER
===================================================
*/

header {
  align-items: center;
  background-color: var(--darker-background-color);
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 10px 10px 45px;
  margin: 5px 5px 15px 5px;
}

h1 {
  font-size: 50px;
  border-bottom-width: 5px;
  border-bottom-color: var(--accent-blue);
  border-bottom-style: solid;
  margin-bottom: 10px;
}

.creds-div {
  display: flex;
}

.cred {
  margin: 0 15px;
}

a {
  color: darksalmon;
  text-decoration: none;
}

a:visited {
  color: darksalmon;
}

/* 
===================================================
MAIN CONTAINER
===================================================
*/

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  border-bottom: 4px var(--accent-blue) solid;
  font-size: 30px;
}

/* 
===================================================
CONTROLS
===================================================
*/

.controls {
  align-items: center;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  max-width: 480px;
}

.break,
.session {
  background-color: var(--inbetween-background-color);
  margin: 0 15px 15px 15px;
  padding: 1em;
}

.break-btns,
.session-btns {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.increment,
.decrement {
  font-size: 20px;
}

.length {
  align-items: center;
  display: flex;
  font-size: 20px;
  justify-content: center;
  margin: 0 10px;
  text-align: center;
  width: 3ch;
}

/* 
===================================================
TIMER
===================================================
*/

.timer {
  background-color: var(--inbetween-background-color);
  text-align: center;
  padding: 1em;
}

.time-left-container {
  border: 0.2em var(--accent-blue) solid;
  border-radius: 50%;
  margin: 0.6em 0 0.8em 0;
  padding-bottom: 100%;
  position: relative;
  width: 100%;
}

#time-left {
  font-size: 2em;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

#start_stop,
#reset {
  font-size: 30px;
}

#start_stop {
  margin-right: 10px;
}

#reset {
  margin-left: 10px;
}

/* 
===================================================
MEDIA QUERIES
===================================================
*/

@media screen and (max-width: 585px) {
  header {
    justify-content: center;
    padding: 10px;
  }

  @media screen and (max-width: 330px) {
    h1 {
      font-size: 45px;
    }
  }
}